.jumbotron {
  background: #cccccc;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: darkred;
    border-color: maroon; }
    .jumbotron .btn-primary:hover {
      background: maroon; }
  .jumbotron p {
    color: black;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
  .popup .popuptext {
    visibility: hidden;
    color: #ffffff;
    background-color: #555555;
    text-align: center;
    position: absolute;
    padding: 10px;
    z-index: 1;
  }

  .popup .show {
    visibility: visible;
  }