
/*TODO: unify all color formatting to hex
        unify all screen units (pixels, etc.)
*/

.jumbotron {
  background: #cccccc;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: brown;
    border-color: maroon; }
    .jumbotron .btn-primary:hover {
      background: darkred; 
      border-color: #6e0000; }
  .jumbotron p {
    color: black;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.results h3 {
  color: black;
}
  .results ul {
    padding-left: 40px;
    padding-right: 40px;
    color: black;
  }

.navbar .popup {
  color: #9d9d9d;
  position: relative;
  display: inline-block;
  padding: 15px;
  cursor: pointer;
}
  .navbar .popup:hover {
    color: white;
  }
  .navbar .popuptext {
    visibility: hidden;
    color: #ffffff;
    background-color: #555555;
    text-align: center;
    position: absolute;
    padding: 10px;
    z-index: 1;
  }

  .navbar .popuptext input {
    color: black;
  }

  .navbar .popuptext.show {
    visibility: visible;
}