<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
    <title>Cemetery Data</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                </li>
                <li>
                    <div class="popup" onclick="toggleSearchPopup()"> Search </div>
                    <form class="popuptext" id="searchPopup" method="get" action="search">
                        
                            <label>First Name:</label> <input type="text" name="FirstName"><br>
                        
                            <label>Middle Name:</label> <input type="text" name="MiddleName"><br>
                        
                            <label>Last Name:</label> <input type="text" name="LastName"><br>

                            <!-- Spouse
                            <label>Spouse:</label> <input type="text" name="Spouse"><br>
                            -->

                            <label>Year Born:</label> <input type="text" name="YearBorn"><br>

                            <label>Year Died:</label> <input type="text" name="YearDied"><br>

                        <input type="submit" value="Search">
                    </form>
                </li>
                <li>
                    <a href="/search?FirstName=&MiddleName=&LastName=&YearBorn=&YearDied=">List All Entires</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-right">
                    <a href="url"><span class="glyphicon glyphicon-book"></span> About Us</a> <!-- Insert your organization's website here! -->
                </li>
            </ul>
        </div>
    </nav>
    <div th:replace="${template}"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

<script>
    function toggleSearchPopup() {
        let popup = document.getElementById("searchPopup");
        popup.classList.toggle("show");
    }
</script>