<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
<div class="jumbotron text-center">
  <div class="container">
    <h1>Cemetery Data</h1>
    <p>The map will go here.</p>
    <div class="results">
      <h3>Results</h3>
      <ul style="list-style-type:none">
        <li>John Doe, 1900-2000, m. Jane Doe</li>
      </ul>
    </div>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/nwintersgill/cemetery-data"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">

  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How to use this app</h3>
      <ul>
        <li>To view the available information on a grave, click on it in the map above.</li>
        <li>To search for a specific individual, use our <a href="/search?FirstName=&MiddleName=&LastName=&YearBorn=&YearDied="> search function.</a></li>
        <li>To learn more about our organization, go to our <a href="url"> about us </a> page.</li> <!-- Insert your organization's website here! -->
      </ul>
    </div>
  </div> <!-- row -->

</div>

</body>
</html>
